################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iwant-front/src/main/resources/static/.vs
/application/Servers/Tomcat v8.0 Server at localhost-config
/application/_pasted_code_/src/snippet
/iwant-front/src/pom.xml
application/log
/.vs
