<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <link rel="icon" href="img/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/globalReset.css">
    <link rel="stylesheet" href=" css/common.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="application/javascript" src="script/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="script/jquery.cookie.js"></script>
    <script type="application/javascript" src="script/vue.min.js"></script>
    <script type="application/javascript" src="script/axios.min.js"></script>
    <title>我要跑-首页</title>
</head>
<body>
    <form>
        <div id="container" class="container">
            <div id="common-header" class="common-head">
                <div id="icon" class="icon-flow">
                    <img src="img/logo.png" alt="logo.png" width="100%">
                </div>
                <div id="location-selector" class="location-selector">
                    <select class="location-selector-item">
                        <option>上海 </option>
                    </select>
                </div>
                <div id="url-nav" class="class-nav">
                    <nav class="navbar">
                        <ul>
                            <li class="tail-li-left"><a href="./index.html" class="active-link">首页</a></li>
                            <li class="tail-li-left"><a href="./html/iwantrun/listproduction.html">找产品</a></li>
                            <li class="tail-li-left"><a href="./html/iwantrun/listlocation.html">看场地</a></li>
                            <li class="tail-li-left"><a href="./html/iwantrun/listcase.html">看案例</a></li>
                            <li class="tail-li-left"><a href="./html/iwantrun/myAccount.html">个人中心</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="url-login" class="class-login-nav">
                    <nav class="navbar">
                        <ul v-if="loginBtnUl">
                            <li class="li-right"><a href="#" @click="showLogin(1)">咨询师登录</a></li>
                            <li class="li-right"><a href="#" @click="showLogin(0)">用户登录</a></li>
                        </ul>
                        <ul v-if="loginIdUl">
                            <li class="li-right" style="margin-left: 0.5vw;"><a href="javascript:void(0);" onclick="logoutCommon()">退出</a></li>
                            <li class="li-right" style="margin-left: 0.5vw;"><a href="#">欢迎您：{{loginId}}</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
            <div id="banner" class="banner">
                <img src="img/banner/banner1.png" alt="banner1.png" width="100%">
            </div>
            <div id="display-bar1" class="display-bar">
                <div id="displaybox1" class="displaybox1">
                    <img src="img/displaybox2.png" alt="displaybox1.png" width="100%">
                </div>
                <div id="displaytext" class="displaytext">
                    <p>我要跑，帮助到许多素未谋面的企业和团队，设计有效的团队建设活动方案。无论您想组织跨地区的一系列活动或举办事件，我们都可以满足您的要求！</p>
                </div>
                <div id="displaybutton" class="displaybutton">
                    <input type="button" value="我们如何工作？" class="btn-primary">
                </div>
            </div>
            <div id="content-box-production">
                <div id="content-header-production" class="content-header-production">
                    <div id="content-head-label" class="content-head-label">
                        <label class="labelcenter">爆款产品</label>
                    </div>
                    <div id="content-head-link1" class="content-head-link">
                        <a href="html/iwantrun/listproduction.html" class="content-link-a">查看更多</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="content-body-production" class="content-body-production">
                    <div class="content-table-production">
                        <!--需要写js动态微调此处布局使其对其-->
                        <div class="normal-production">
                            <!--<div class="outstanding-item">
                                <img src="img/otstandingproduction.png" alt="outstanding.png" width="100%">
                            </div>-->
                            <div class="normal-item" v-if="index<8" v-for="(item,index) in productIndexList">
                                <div>
                                    <img :src="item.mainImageLarge" alt="normalpd1.png" width="100%">
                                </div>
                                <div class="displayText-production">
                                    <p>{{item.name}}</p>
                                    <p style="color:#FF7E00">{{item.orderSimulatePrice}}</p>
                                </div>
                            </div>
                            <!--  <div class="clear"></div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-box-location">
                <div id="content-box-location-header" class="content-header-production">
                    <div id="content-head-labe2" class="content-head-label">
                        <label class="labelcenter">爆款场地</label>
                    </div>
                    <div id="content-head-link2" class="content-head-link">
                        <a href="html/iwantrun/listlocation.html" class="content-link-a">查看更多</a>
                    </div>
                </div>
                <div class="content-box-location-body">
                    <div class="content-box-location-line" v-if="index<3" v-for="(item,index) in locationIndexList">
                        <div class="location-text" v-if="index%2===0">
                            <div class="location-text-head">
                                <p>{{item.name }} | {{item.activeTypeCode }}  &nbsp;&nbsp;<i class="iconfont icon-sanjiaoright"></i></p>
                            </div>
                            <div class="location-text-detail">
                                <p>{{item.descirbeText3}}</p>
                            </div>
                        </div>
                        <div class="location-image">
                            <img :src="item.descirbeText2" alt="location1.png" width="100%">
                        </div>
                        <div class="location-text" v-if="index%2>0">
                            <div class="location-text-head">
                                <p><i class="iconfont icon-sanjiaoleft"></i>&nbsp;{{item.name}} | {{item.activeTypeCode }}</p>
                            </div>
                            <div class="location-text-detail">
                                <p>{{item.descirbeText3}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="display-bar2" class="content-header-display">
                <div id="display-bar2-header" class="display-bar2-header">
                    <p class="p-displaybar2-header">团队建设的优势</p>
                </div>
                <div id="display-bar2-describe" class="display-bar2-content">
                    <p class="p-displaybar2-content">
                        团队建设是一个伟大的创造，它是现代企业管理的一个基础，
                        是一个平台，也是构建公司的一个基本出发点。
                    </p>
                </div>
                <div id="display-bar2-buttongroup" class="display-bar2-buttongroup">
                    <div class="display-bar2-button">
                        <input type="button" value="团队协作" class="btn-bar2-primary">
                    </div>
                    <div class="display-bar2-button">
                        <input type="button" value="品牌建设" class="btn-bar2-primary">
                    </div>
                    <div class="display-bar2-button">
                        <input type="button" value="强化团队精神" class="btn-bar2-primary">
                    </div>
                    <div class="display-bar2-button">
                        <input type="button" value="主观激励" class="btn-bar2-primary">
                    </div>
                </div>
            </div>
            <div id="content-box-case" class="content-box-case">
                <div id="content-box-case-header">
                    <div id="content-box-case-label" class="content-head-label" style="margin-left: 3.18vw">
                        <label class="labelcenter content-black" style="color:#414141;font-weight: bold">精选案例</label>
                    </div>
                    <div id="content-box-case-link1" class="content-head-link" style="margin-right:1.04vw">
                        <a href="html/iwantrun/listcase.html" class="content-link-b">查看更多</a>
                    </div>
                </div>
                <div class="content-box-case-line">
                    <div v-if="index<6" v-for="(item,index) in caseIndexList" style="display:inline-block" :class="item.isBig?'content-box-case-imgbig':'content-box-case-imgsmall'">
                        <img :src="item.descirbeText2" alt="case1.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="common-tail-bg">
                <div id="common-tail" class="common-tail">
                    <div id="tail-nav" class="tail-nav">
                        <nav>
                            <ul>
                                <li class="tail-li-left"><a href="./html/iwantrun/aboutus.html">关于我们</a></li>
                                <li class="tail-li-left"><a href="#">加入我们</a></li>
                                <li class="tail-li-left"><a href="#">联系我们</a></li>
                                <li class="tail-li-left"><a href="#">条款</a></li>
                                <li class="tail-li-left " style="margin-right: 0"><a href="#">网站导航</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div id="icon-connect" class="icon-connect">
                        <p>
                            <i class="iconfont icon-facebookfacebook52 clickIcon" style="font-size: 2vw"></i>
                            <i class="iconfont icon-twitter3 clickIcon" style="font-size: 2vw"></i>
                            <i class="iconfont icon-weixin-copy clickIcon" style="font-size: 2vw"></i>
                            <i class="iconfont icon-weibo clickIcon" style="font-size: 2vw"></i>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="mask" class="mask" v-if="mask" v-cloak></div>
            
            <div id="float-collect-requirement" class="slidebar">
                <h2 class="slidebar-head">急速获取免费方案</h2>
                <p class="slidebar-text">
                    超过100位专业咨询师免费为您提供
                    量身定制的团建方案，优质供应链。
                </p>
                <div id="slider-button" class="slider-button">
                    <input type="button" value="提交需求" class="slider-button-item" @click="toOrderSubmit()">
                </div>
            </div>
        </div>
    </form>
    <div id="lrPannel"></div>
</body>
<script type="application/javascript" src="script-dev/indexJquery.js"></script>
<script type="application/javascript" src="script-dev/common.app.js"></script>
<script type="application/javascript" src="script-dev/indexVue.js"></script>
</html>