<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <link rel="icon" href="../../img/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/globalReset.css">
    <link rel="stylesheet" href=" ../../css/common.css">
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/listcase.css">
    <link href="../../css/zpageNav.css" rel="stylesheet" />
    <script type="application/javascript" src="../../script/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="../../script/bluebird.min.js"></script>
    <script type="application/javascript" src="../../script/vue.min.js"></script>
    <script type="application/javascript" src="../../script/jquery.cookie.js"></script>
    <script type="application/javascript" src="../../script/axios.min.js"></script>
    <script type="application/javascript" src="../../script/zpageNav.js"></script>
    <title>我要跑-搜索场地列表</title>
</head>
<body>
<form action="">
    <div class="container" id="container">
        <div id="common-header" class="common-head">
            <div id="icon" class="icon-flow">
                <img src="../../img/logo.png" alt="logo.png" width="100%">
            </div>
            <div id="location-selector" class="location-selector">
                <select class="location-selector-item">
                    <option>上海 </option>
                </select>
            </div>
            <div id="url-nav" class="class-nav">
                <nav class="navbar">
                    <ul>
                        <li class="tail-li-left"><a href="../../index.html">首页</a></li>
                        <li class="tail-li-left"><a href="./listproduction.html">找产品</a></li>
                        <li class="tail-li-left"><a href="./listlocation.html" class="active-link">看场地</a></li>
                        <li class="tail-li-left"><a href="./listcase.html" >看案例</a></li>
                        <li class="tail-li-left"><a href="./myAccount.html">个人中心</a></li>
                    </ul>
                </nav>
            </div>
            <div id="url-login" class="class-login-nav">
					<nav class="navbar">
						<ul v-if="loginBtnUl">
							<li class="li-right"><a href="#" @click="showLogin(1)">咨询师登录</a></li>
							<li class="li-right"><a href="#" @click="showLogin(0)">用户登录</a></li>
						</ul>
						<ul v-if="loginIdUl">
							<li class="li-right"><a href="#">欢迎您：{{loginId}}</a></li>
						</ul>
					</nav>
				</div>
            <div class="clear"></div>
        </div>
        <div id="page-location" class="page-location">
            <p class="page-location-text">首页 >  搜索场地列表</p>
        </div>
        <div id="queryform" class="queryform">
            <div id="querytable" class="querytable">
                <div id="table-row1" class="querytable-row">
                    <div id="table-column-11" class="querytable-column-lable">
                        <p class="label-font">特色关键字</p>
                    </div>
                    <div id="table-colunmn-12" class="query-column-reset">
                        <input type="button" value="不限" class="btn-primary">
                    </div>
                    <div id="table-column-13" class="query-column-checkbox">
                        <span v-for="item in criteria.specialTagsCode" style="padding-right:3px;">
                            <i class="iconfont-grey icon-checkbox-non" @click="checkchange"></i>
                            <input type="checkbox" :value="item.id" name="specialTagsCode" class="checkbox-primary">
                            <label for="check11">{{item.value}}</label>
                        </span>
                    </div>
                    <div class="query-column-openmore">
                        <i class="iconfont icon-xiajiantou hover-color"></i>
                    </div>
                </div>
                <div class="seperate"></div>
                <div id="table-row2" class="querytable-row">
                    <div id="table-column-21" class="querytable-column-lable">
                        <p class="label-font">活动地区</p>
                    </div>
                    <div id="table-colunmn-22" class="query-column-reset">
                        <input type="button" value="不限" class="btn-primary">
                    </div>
                    <div id="table-column-23" class="query-column-checkbox">
                        <span v-for="item in criteria.activityProvinceCode" style="padding-right:3px;">
                            <i class="iconfont-grey icon-checkbox-non" @click="checkchange"></i>
                            <input type="checkbox" :value="item.id" name="activityProvinceCode" class="checkbox-primary">
                            <label for="check11">{{item.value}}</label>
                        </span>
                    </div>
                </div>
                <div class="seperate"></div>
                <div id="table-row3" class="querytable-row">
                    <div id="table-column-31" class="querytable-column-lable">
                        <p class="label-font">活动类型</p>
                    </div>
                    <div id="table-colunmn-32" class="query-column-reset">
                        <input type="button" value="不限" class="btn-primary">
                    </div>
                    <div id="table-column-33" class="query-column-checkbox">
                        <span v-for="item in criteria.activitytype" style="padding-right:3px;">
                            <i class="iconfont-grey icon-checkbox-non" @click="checkchange"></i>
                            <input type="checkbox" :value="item.id" name="activitytype" class="checkbox-primary">
                            <label for="check11">{{item.value}}</label>
                        </span>
                    </div>
                    <div class="query-column-openmore">
                        <i class="iconfont icon-xiajiantou hover-color"></i>
                    </div>
                </div>
                <div class="seperate"></div>
                <div id="table-row4" class="querytable-row">
                    <div id="table-column-41" class="querytable-column-lable">
                        <p class="label-font">场地类型</p>
                    </div>
                    <div id="table-colunmn-42" class="query-column-reset">
                        <input type="button" value="不限" class="btn-primary">
                    </div>
                    <div id="table-column-43" class="query-column-checkbox">
                        <span v-for="item in criteria.locationTypeCode" style="padding-right:3px;">
                            <i class="iconfont-grey icon-checkbox-non" @click="checkchange"></i>
                            <input type="checkbox" :value="item.id" name="locationTypeCode" class="checkbox-primary">
                            <label for="check11">{{item.value}}</label>
                        </span>
                    </div>
                    <div class="query-column-openmore">
                        <i class="iconfont icon-xiajiantou hover-color"></i>
                    </div>
                </div>
                <div class="seperate"></div>
                <div id="table-row5" class="querytable-row">
                    <div id="table-column-51" class="querytable-column-lable">
                        <p class="label-font">可容纳人数</p>
                    </div>
                    <div id="table-colunmn-52" class="query-column-reset">
                        <input type="button" value="不限" class="btn-primary">
                    </div>
                    <div id="table-column-53" class="query-column-checkbox">
                        <span v-for="item in criteria.personNum" style="padding-right:3px;">
                            <i class="iconfont-grey icon-checkbox-non" @click="checkchange"></i>
                            <input type="checkbox" :value="item.id" name="personNum" class="checkbox-primary">
                            <label for="check11">{{item.value}}</label>
                        </span>
                    </div>
                </div>
                <div class="seperate"></div>
                <div id="table-row6" class="querytable-row">
                    <div id="table-column-61" class="querytable-column-lable">
                        <p class="label-font">天数</p>
                    </div>
                    <div id="table-colunmn-62" class="query-column-reset">
                        <input type="button" value="不限" class="btn-primary">
                    </div>
                    <div id="table-column-63" class="query-column-checkbox">
                        <span v-for="item in criteria.duration" style="padding-right:3px;">
                            <i class="iconfont-grey icon-checkbox-non" @click="checkchange"></i>
                            <input type="checkbox" :value="item.id" name="duration" class="checkbox-primary">
                            <label for="check11">{{item.value}}</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header-production">
            <a href="#" class="content-header-link-left">热门推荐</a>
            <a href="#" class="content-header-link">价格从高到底</a>
            <a href="#" class="content-header-link">价格从低到高</a>
        </div>
        <div class="list-case-item" v-for="item in List">
            <div id="list-case-image3" class="list-case-item-left">
                <div class="wrapper">
                    <img :src="item.descirbeText2" alt="list-case1.png">
                </div>
            </div>
            <div id="list-case-right3" class="list-case-item-right">
                <div class="list-case-item-line">
                    <div class="list-case-item-table-top">
                        <p class="case-title" style="width: 30.513vw">{{item.name}} </p>
                        <p style="margin-top: 0.84vw">
                            <span class="case-tip" style="margin-right:5px;" v-for="tip in item.tips">{{tip}}</span>
                        </p>
                    </div>
                </div>
                <div class="list-case-item-line">
                    <div class="list-case-item-table-bottom">
                        <div class="case-details-content">
                            <div class="case-details-up">
                                <p class="case-price-hint">参考价格: {{item.simulatePriceCodeDesc}}</p>
                            </div>
                            <div class="case-detail-desc">
                                <div class="case-detail-row">
                                    <div class="case-detail-col">
                                        <p>地区：{{item.activityProvinceCodeDesc}}  </p>
                                    </div>
                                    <div class="case-detail-col">
                                        <p> 类型：{{item.activeTypeCodeDesc}} </p>
                                    </div>
                                </div>
                                <div class="case-detail-row">
                                    <div class="case-detail-col">
                                        <p>人数：{{item.groupNumberLimitCodeDesc}}</p>
                                    </div>
                                    <div class="case-detail-col">
                                        <p>天数：{{item.duration}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="case-detail-button">
                            <div class="case-detail-button-wrapper">
                                <input type="button" class="btn-primary-big" value="查看详情" @click="toDetails(item.id)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--         <div id="page-navigation" class="page-navigation"> -->
<!--             <ul class="pagenation"> -->
<!--                 	<li @click="previousPageClick"><a href="#" >&#60;</a></li> -->
<!--                 	<template  v-for="index in numberPages"> -->
<!-- 	                    <li  :class="{active:index==indexClick}" @click="queryLocationByCondition(index)"><a href="#" >{{index}}</a></li> -->
<!--                     </template> -->
<!--                      <li @click="nextPageClick"><a href="#" >&#62;</a></li> -->
<!--                 </ul> -->
<!--         </div> -->
		 <div class="wrap" id="wrap">
		        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total" 
		        	v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
		        </zpagenav>
		</div>
        <div class="common-tail-bg">
            <div id="common-tail" class="common-tail">
                <div id="tail-nav" class="tail-nav">
                    <nav >
                        <ul>
                            <li class="tail-li-left" ><a href="#">关于我们</a></li>
                         <!--    <li class="tail-li-left" ><a href="#">加入我们</a></li>
                            <li class="tail-li-left" ><a href="#">联系我们</a></li>
                            <li class="tail-li-left" ><a href="#">条款</a></li> -->
                            <li class="tail-li-left " style="margin-right: 0"><a href="#">网站导航</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="icon-connect" class="icon-connect">
                    <p>
                       <!--  <i class="iconfont icon-facebookfacebook52 clickIcon" style="font-size: 2vw"></i>
                        <i class="iconfont icon-twitter3 clickIcon" style="font-size: 2vw"></i> -->
                        <i class="iconfont icon-weixin-copy clickIcon" style="font-size: 2vw" @mouseover="displayIcon" @mouseout="hideIcon"></i>
                        <!-- <i class="iconfont icon-weibo clickIcon" style="font-size: 2vw"></i> -->
                    </p>
                </div>
                <div class="clear"></div>
                <div id="tail-display-icon-big" >
                			<img id="tail-image-icon" class="tail-image-icon" src="../../img/weixinContract.png" style="width:344px" v-show="tailWeixinIcon" v-cloak />  
                </div>
            </div>
        </div>
        <div id="mask" class="mask" v-if="mask" v-cloak></div>
        
       
        
        <div id="float-collect-requirement" class="slidebar-list">
            <h2 class="slidebar-head">急速获取免费方案</h2>
            <p  class="slidebar-text">
                超过100位专业咨询师免费为您提供
                量身定制的团建方案，优质供应链。
            </p>
            <div id="slider-button" class="slider-button">
                <input type="button" value="提交需求" class="slider-button-item" @click="toOrderSubmit()">
            </div>
        </div>
    </div>
     <div id="lrPannel">
    		<div id="login-pannel" class="login-pannel" v-if="loginWindow" v-cloak id="loginWindow">
                <div id="close-pannel" class="close-pannel">
                    <i class="iconfont-user1 icon-close" @click="closeLogin"></i>
                </div>
                <div id="login-head" class="login-head">
                    <h2>{{loginTitle}}</h2>
                </div>
                <div id="username-input" class="username-input">
                    <div id="user-icon" class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div id="user-input" class="user-input">
                        <input v-model="account.loginId" @focus="accountFocus()" type="text" class="inputText" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="userpwd-input" v-show="messageLogin">
                    <div id="pwd-icon" class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div id="pwd-input" class="user-pwd">
                        <input v-model="account.smsCode" @focus="accountFocus()" type="password" class="inputText" placeholder="请输入验证码">
                    </div>
                    <div id="pwd-button" class="user-button">
                        <input @click="accountSmsCodeGet" type="button" value="短信验证" class="sms-send-button">
                    </div>
                </div>
                <div class="userpwd-input" v-show="!messageLogin">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-pwd" style="width:auto;">
                        <input v-model="account.password" @focus="accountFocus()" type="password" class="inputText" placeholder="请输入密码">
                    </div>
                </div>
                <div id="err-msg" class="extra-message" style="margin-top: 0.2vw;">
	            	<div class="exttra-message-right" style="color: red;">
	                    <p>{{account.errMsg}}</p>
	                </div>
            	</div>
                <div id="extra-message" class="extra-message">
                    <div id="icon-selected" class="exttra-message-left">
                        <i class="iconfont-user3 icon-gouxuan " @click="changeAutoLogin" v-if="autoLogin"></i>
                        <i class="iconfont-user3 icon-gouxuan1" @click="changeAutoLogin" v-else></i>
                    </div>
                    <div class="exttra-message-right">
                        <p>自动登录</p>
                    </div>
                    <div class="exttra-message-left" style="padding-left:15px;">
                        <i class="iconfont-user3 icon-gouxuan " @click="changeMessageLogin" v-if="messageLogin"></i>
                        <i class="iconfont-user3 icon-gouxuan1" @click="changeMessageLogin" v-else></i>
                    </div>
                    <div class="exttra-message-right">
                        <p>短信快捷登录</p>
                    </div>
                    <div class="exttra-message-right" style="padding-left:30px;">
                        <a @click="showRegister" class="cursor-link">注册</a>|<a @click="showForget" class="cursor-link">忘记密码</a>
                    </div>
                </div>
                <div id="login-button" class="login-button">
                    <input @click="login" type="button" value="登 录" class="sms-login-button">
                </div>
                <!-- <div id="join-account-login" class="join-account-login">
                    <div id="join-account-left" class="join-account-left">
                        <p>其他账号登录</p>
                    </div>
                    <div class="join-account-right">
                        <i class="iconfont icon-facebookfacebook52 clickIcon"></i>
                        <i class="iconfont icon-weixin-copy clickIcon"></i>
                        <i class="iconfont icon-weibo clickIcon"></i>
                    </div>
                </div> -->
            </div>
            <div id="register-pannel" class="login-pannel" v-if="registerWindow" v-cloak>
                <div class="close-pannel">
                    <i class="iconfont-user1 icon-close" @click="closeRegister"></i>
                </div>
                <div class="login-head">
                    <h2>{{registerTitle}}</h2>
                </div>
                <div class="register-input">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div class="user-input">
                        <input @focus="accountFocus()" v-model="account.loginId" type="text" class="inputText" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="register-input">
                    <div id="pwd-icon" class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-pwd">
                        <input v-model="account.smsCode" @focus="accountFocus()" type="password" class="inputText" placeholder="请输入验证码">
                    </div>
                    <div class="user-button">
                        <input @click="accountSmsCodeGet" type="button" value="短信验证" class="sms-send-button">
                    </div>
                </div>
                <div class="register-input">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-input">
                        <input v-model="account.password" @focus="accountFocus()" type="password" class="inputText" placeholder="请输入密码">
                    </div>
                </div>
                <div class="register-input">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-input">
                        <input v-model="account.rePassword" @focus="accountFocus()" type="password" class="inputText" placeholder="请再次输入密码">
                    </div>
                </div>
                <div id="err-msg" class="extra-message" style="margin-top: 0.2vw;">
	            	<div class="exttra-message-right" style="color: red;">
	                    <p>{{account.errMsg}}</p>
	                </div>
            	</div>
                <div class="register-button">
                    <input v-if="registerBtn" @click="register" type="button" value="注 册" class="sms-login-button">
                    <input v-if="forgetBtn" @click="forget" type="button" value="确认修改" class="sms-login-button">
                </div>
                <div class="join-account-login">
                    <div class="join-account-left">
                        <p>如果您已拥有ID账号，可在此 <a @click="showLogin(counselor)" class="cursor-link">登录</a></p>
                    </div>
                </div>
            </div>
    </div>
</form>
<div id="lrPannel"></div>
<script type="application/javascript" src="../../script-dev/common.app.js"></script>
<script type="application/javascript" src="../../script-dev/listLocation.js"></script>
</body>
</html>