<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <link rel="icon" href="../../img/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/globalReset.css">
    <link rel="stylesheet" href=" ../../css/common.css">
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/myAccount.css">
    <script type="application/javascript" src="../../script/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="../../script/jquery.cookie.js"></script>
    <script type="application/javascript" src="../../script/vue.min.js"></script>
    <title>个人中心</title>
</head>

<body>
    <form action="">
        <div id="container" class="container">
            <div id="common-header" class="common-head">
                <div id="icon" class="icon-flow">
                    <img src="../../img/logo.png" alt="logo.png" width="100%">
                </div>
                <div id="location-selector" class="location-selector">
                    <select class="location-selector-item">
                        <option>上海 </option>
                    </select>
                </div>
                <div id="url-nav" class="class-nav">
                    <nav class="navbar">
                        <ul>
                            <li class="tail-li-left"><a href="../../index.html">首页</a></li>
                            <li class="tail-li-left"><a href="./listproduction.html">找产品</a></li>
                            <li class="tail-li-left"><a href="./listlocation.html">看场地</a></li>
                            <li class="tail-li-left"><a href="./listcase.html">看案例</a></li>
                            <li class="tail-li-left"><a href="./myAccount.html" class="active-link">个人中心</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="url-login" class="class-login-nav">
                    <nav class="navbar">
                        <ul v-if="loginBtnUl">
                            <li class="li-right"><a href="#" @click="showLogin('咨询师登录')">咨询师登录</a></li>
                            <li class="li-right"><a href="#" @click="showLogin('用户登录')">用户登录</a></li>
                        </ul>
                        <ul v-if="loginIdUl">
                            <li class="li-right"><a href="#">欢迎您：{{loginId}}</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
            <div id="accountBody" class="accountBody">
                <div class="leftAccount">
                    <div class="account-image">
                        <img :src="account.headimg" alt="">
                    </div>
                    <div class="name-desc">
                        <span class="name-desc-font">{{account.nickname}}, 您好</span>
                    </div>
                    <div class="select-cell-first-child">
                        <p class="center-item">
                            <a href="./orderlist.html">我的订单</a>
                        </p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item">我的收藏</p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item">站内消息</p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item active-item">个人信息</p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item">收藏场地</p>
                    </div>
                </div>
                <div class="accountMain">
                    <div class="accountTitle">
                        <span class="center-big margin-left">个人信息</span>
                    </div>
                    <div class="account-box-body">
                        <div class="account-box-line account-box-first">
                            <div class="account-box-img">
                                <img :src="account.headimg" alt="">
                            </div>
                            <div class="account-box-content">
                                <p class="font-40px-black">修改头像</p>
                                <input type="file" name="headimg" style="display:none;" @change="headImgUpload" accept="image/jpeg,image/png" />
                                <input type="button" class="btn-black" value="上传头像" @click="uploadimg">
                            </div>
                        </div>
                        <div class="account-box-line">
                            <div class="account-box-left">
                                <p class="font-40px-black">账户昵称</p>
                                <p class="font-30-black1">{{account.nickname || '未设置'}}</p>
                            </div>
                            <div class="account-button-right">
                                <input type="button" value="设置" class="btn-primary" @click="showSetting(0)">
                            </div>
                        </div>
                        <div class="account-box-line">
                            <div class="account-box-left">
                                <p class="font-40px-black">手机验证</p>
                                <p class="font-30-black1">{{account.phone?('您的验证手机号是'+account.phone):'未设置'}}</p>
                            </div>
                            <div class="account-button-right">
                                <input type="button" value="修改" class="btn-primary" @click="showSetting(1)">
                            </div>
                        </div>
                        <div class="account-box-line">
                            <div class="account-box-left">
                                <p class="font-40px-black">安全问题</p>
                                <p class="font-30-black1">{{account.securityanswer.answer || '未设置'}}</p>
                            </div>
                            <div class="account-button-right">
                                <input type="button" value="设置" class="btn-primary" @click="showSetting(2)">
                            </div>
                        </div>
                        <div class="account-box-line2">
                            <div class="account-box-left">
                                <p class="font-40px-black">公司信息</p>
                                <p class="font-30-black1">
                                    <span>{{account.company.name ||'公司名称'}}/</span>
                                    <span>{{account.company.type ||'公司类型'}}/</span>
                                    <span>{{account.company.personNum ||'人数'}}</span>
                                </p>
                            </div>
                            <div class="account-button-right">
                                <input type="button" value="营业执照" class="btn-primary" style="width:auto;" @click="showSetting(4)">
                                <input type="button" value="设置" class="btn-primary" @click="showSetting(3)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="common-tail-bg">
                    <div id="common-tail" class="common-tail">
                        <div id="tail-nav" class="tail-nav">
                            <nav>
                                <ul>
                                    <li class="tail-li-left">
                                        <a href="#">关于我们</a>
                                    </li>
                                    <li class="tail-li-left">
                                        <a href="#">加入我们</a>
                                    </li>
                                    <li class="tail-li-left">
                                        <a href="#">联系我们</a>
                                    </li>
                                    <li class="tail-li-left">
                                        <a href="#">条款</a>
                                    </li>
                                    <li class="tail-li-left " style="margin-right: 0">
                                        <a href="#">网站导航</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="icon-connect" class="icon-connect">
                            <p>
                                <i class="iconfont icon-facebookfacebook52 clickIcon" style="font-size: 2vw"></i>
                                <i class="iconfont icon-twitter3 clickIcon" style="font-size: 2vw"></i>
                                <i class="iconfont icon-weixin-copy clickIcon" style="font-size: 2vw"></i>
                                <i class="iconfont icon-weibo clickIcon" style="font-size: 2vw"></i>
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="login-pannel" v-if="setting" v-cloak>
                <div id="close-pannel" class="close-pannel">
                    <i class="iconfont-user1 icon-close" @click="closeSetting"></i>
                </div>
                <div class="login-head">
                    <h2>{{settingTitle}}</h2>
                </div>
                <div class="username-input" v-show="settingFlag === 0">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div class="user-input">
                        <input type="text" class="inputText" v-model="account.nickname" placeholder="请输入昵称">
                    </div>
                </div>
                <div class="username-input" v-show="settingFlag === 1">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div class="user-input">
                        <input type="text" class="inputText" v-model="account.phone" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="userpwd-input" v-show="settingFlag === 1">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-pwd">
                        <input type="text" class="inputText" placeholder="请输入验证码">
                    </div>
                    <div class="user-button">
                        <input type="button" value="短信验证" class="sms-send-button" @click="smsCodeGet">
                    </div>
                </div>
                <div class="username-input" v-show="settingFlag === 2">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div class="user-input">
                        <input type="text" class="inputText" v-model="account.securityanswer.question" placeholder="请输入问题">
                    </div>
                </div>
                <div class="username-input" v-show="settingFlag === 2">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div class="user-input">
                        <input type="text" class="inputText" v-model="account.securityanswer.answer" placeholder="请输入答案">
                    </div>
                </div>
                <div class="username-input" v-show="settingFlag === 3">
                    <div class="user-input">
                        <input type="text" class="inputText" v-model="account.company.name" placeholder="请输入公司名称">
                    </div>
                </div>
                <div class="username-input" v-show="settingFlag === 3">
                    <div class="user-input">
                        <select class="inputText" placeholder="请选择公司类型" @change="companyTypeSelect">
                            <option value=""></option>
                            <option value="1">国企</option>
                            <option value="2">民营</option>
                            <option value="3">外企</option>
                        </select>
                    </div>
                </div>
                <div class="username-input" v-show="settingFlag === 3">
                    <div class="user-input">
                        <select class="inputText" placeholder="请选择公司人数" @change="companySizeSelect">
                            <option value=""></option>
                            <option value="1">1~10人</option>
                            <option value="2">10~50人</option>
                            <option value="3">50人以上</option>
                        </select>
                    </div>
                </div>
                <div class="username-input" v-show="settingFlag === 4" style="display: flex;">
                	<input type="button" value="<" class="sms-login-button" style="width: 10%;margin-top: 10rem;margin-right: 6%;background: #979797;" @click="preCompanyCredential">
                    <img v-show="account.company.license" :src="account.company.licenseShow" style="max-width:300px;max-height:300px;" />
					<input type="button" value=">" class="sms-login-button" style="width: 10%;margin-top: 10rem;margin-left: 6%;background: #979797;" @click="nextCompanyCredential">
                </div>
                <div class="register-button">
                    <input type="button" v-show="settingFlag < 4" value="确 认" class="sms-login-button" @click="setBaseInfo(settingFlag)">
                	<input type="button" v-show="settingFlag === 4" value="删除" class="sms-login-button" @click="deleteimg" style="background: #414141;margin-bottom: 1rem;font-size: 1.08vw;width: 20%;height: 40%;">
                    <input type="button" v-show="settingFlag === 4" value="上传营业执照" class="sms-login-button" @click="uploadimg">
                    <input type="file" style="display:none" id="companyCredentialUploadEle" accept="image/jpeg,image/png" @change="companyCredentialUpload"/>
                </div>
            </div>
            <!-- 信息提示框 -->
			<div class="msg-pannel" v-if="msgWindow" v-cloak>
				<div id="close-pannel" class="msg-close-pannel">
					<i class="iconfont-user1 icon-close" style="font-size: 1.07vw;" @click="closeMsgWindow"></i>
				</div>
				<div class="login-head" style="font-size: 1.625vw;">
					<h2>提示信息</h2>
				</div>
				<div class="msg-text-pannel">
					<span>{{msgText}}</span>
				</div>
				<div class="msg-btn-pannel">
					<input type="button" value="确 认" class="msg-show-button" @click="closeMsgWindow">
				</div>
			</div>
		</div>
    </form>
    <div id="lrPannel">
    		<div id="login-pannel" class="login-pannel" v-if="loginWindow" v-cloak id="loginWindow">
                <div id="close-pannel" class="close-pannel">
                    <i class="iconfont-user1 icon-close" @click="closeLogin"></i>
                </div>
                <div id="login-head" class="login-head">
                    <h2>{{loginTitle}}</h2>
                </div>
                <div id="username-input" class="username-input">
                    <div id="user-icon" class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div id="user-input" class="user-input">
                        <input v-model="account.loginId" @focus="accountFocus()" type="text" class="inputText" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="userpwd-input" v-show="messageLogin">
                    <div id="pwd-icon" class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div id="pwd-input" class="user-pwd">
                        <input v-model="account.smsCode" @focus="accountFocus()" type="password" class="inputText" placeholder="请输入验证码">
                    </div>
                    <div id="pwd-button" class="user-button">
                        <input @click="accountSmsCodeGet" type="button" value="短信验证" class="sms-send-button">
                    </div>
                </div>
                <div class="userpwd-input" v-show="!messageLogin">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-pwd" style="width:auto;">
                        <input v-model="account.password" @focus="accountFocus()" type="password" class="inputText" placeholder="请输入密码">
                    </div>
                </div>
                <div id="err-msg" class="extra-message" style="margin-top: 0.2vw;">
	            	<div class="exttra-message-right" style="color: red;">
	                    <p>{{account.errMsg}}</p>
	                </div>
            	</div>
                <div id="extra-message" class="extra-message">
                    <div id="icon-selected" class="exttra-message-left">
                        <i class="iconfont-user3 icon-gouxuan " @click="changeAutoLogin" v-if="autoLogin"></i>
                        <i class="iconfont-user3 icon-gouxuan1" @click="changeAutoLogin" v-else></i>
                    </div>
                    <div class="exttra-message-right">
                        <p>自动登录</p>
                    </div>
                    <div class="exttra-message-left" style="padding-left:15px;">
                        <i class="iconfont-user3 icon-gouxuan " @click="changeMessageLogin" v-if="messageLogin"></i>
                        <i class="iconfont-user3 icon-gouxuan1" @click="changeMessageLogin" v-else></i>
                    </div>
                    <div class="exttra-message-right">
                        <p>短信快捷登录</p>
                    </div>
                    <div class="exttra-message-right" style="padding-left:30px;">
                        <a @click="showRegister" class="cursor-link">注册</a>|<a @click="showForget" class="cursor-link">忘记密码</a>
                    </div>
                </div>
                <div id="login-button" class="login-button">
                    <input @click="login" type="button" value="登 录" class="sms-login-button">
                </div>
                <div id="join-account-login" class="join-account-login">
                    <div id="join-account-left" class="join-account-left">
                        <p>其他账号登录</p>
                    </div>
                    <div class="join-account-right">
                        <i class="iconfont icon-facebookfacebook52 clickIcon"></i>
                        <i class="iconfont icon-weixin-copy clickIcon"></i>
                        <i class="iconfont icon-weibo clickIcon"></i>
                    </div>
                </div>
            </div>
            <div id="register-pannel" class="login-pannel" v-if="registerWindow" v-cloak>
                <div class="close-pannel">
                    <i class="iconfont-user1 icon-close" @click="closeRegister"></i>
                </div>
                <div class="login-head">
                    <h2>{{registerTitle}}</h2>
                </div>
                <div class="register-input">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div class="user-input">
                        <input @focus="accountFocus()" v-model="account.loginId" type="text" class="inputText" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="register-input">
                    <div id="pwd-icon" class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-pwd">
                        <input v-model="account.smsCode" @focus="accountFocus()" type="text" class="inputText" placeholder="请输入短信验证码">
                    </div>
                    <div class="user-button">
                        <input @click="accountSmsCodeGet" type="button" value="短信验证" class="sms-send-button">
                    </div>
                </div>
                <div class="register-input">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-input">
                        <input v-model="account.password" @focus="accountFocus()" type="password" class="inputText" placeholder="请输入密码">
                    </div>
                </div>
                <div class="register-input">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-input">
                        <input v-model="account.rePassword" @focus="accountFocus()" type="password" class="inputText" placeholder="请再次输入密码">
                    </div>
                </div>
                <div id="err-msg" class="extra-message" style="margin-top: 0.2vw;">
	            	<div class="exttra-message-right" style="color: red;">
	                    <p>{{account.errMsg}}</p>
	                </div>
            	</div>
                <div class="register-button">
                    <input v-if="registerBtn" @click="register" type="button" value="注 册" class="sms-login-button">
                    <input v-if="forgetBtn" @click="forget" type="button" value="确认修改" class="sms-login-button">
                </div>
                <div class="join-account-login">
                    <div class="join-account-left">
                        <p>如果您已拥有ID账号，可在此 <a @click="showLogin(counselor)" class="cursor-link">登录</a></p>
                    </div>
                </div>
            </div>
    </div>
    <script type="application/javascript" src="../../script-dev/common.app.js"></script>
    <script type="application/javascript" src="../../script-dev/myAccount.js"></script>
</body>
</html>