<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <link rel="icon" href="../../img/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/globalReset.css">
    <link rel="stylesheet" href=" ../../css/common.css">
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/myorder.css">
    <script type="application/javascript" src="../../script/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="../../script/jquery.cookie.js"></script>
    <script type="application/javascript" src="../../script/vue.min.js"></script>
    <script type="application/javascript" src="../../script/axios.min.js"></script>
    <title>个人中心</title>
</head>
<body>
    <form action="">
        <div id="container" class="container">
            <div id="common-header" class="common-head">
                <div id="icon" class="icon-flow">
                    <img src="../../img/logo.png" alt="logo.png" width="100%">
                </div>
                <div id="location-selector" class="location-selector">
                    <select class="location-selector-item">
                        <option>上海 </option>
                    </select>
                </div>
                <div id="url-nav" class="class-nav">
                    <nav class="navbar">
                        <ul>
                            <li class="tail-li-left">
                                <a href="../../index.html">首页</a>
                            </li>
                            <li class="tail-li-left">
                                <a href="./listproduction.html">找产品</a>
                            </li>
                            <li class="tail-li-left">
                                <a href="./listlocation.html">看场地</a>
                            </li>
                            <li class="tail-li-left">
                                <a href="./listcase.html">看案例</a>
                            </li>
                            <li class="tail-li-left">
                                <a href="./myAccount.html" class="active-link">个人中心</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="url-login" class="class-login-nav">
                    <nav class="navbar">
                         <ul v-if="loginBtnUl">
                            <li class="li-right"><a href="#" @click="showLogin(1)">咨询师登录</a></li>
                            <li class="li-right"><a href="#" @click="showLogin(0)">用户登录</a></li>
                        </ul>
                        <ul v-if="loginIdUl">
                            <li class="li-right" style="margin-left: 0.5vw;"><a href="javascript:void(0);" onclick="logoutCommon()">退出</a></li>
                            <li class="li-right" style="margin-left: 0.5vw;"><a href="#">欢迎您：{{loginId}}</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
            <div id="accountBody" class="accountBody">
                <div class="leftAccount">
                    <div class="account-image">
                        <img :src="headimg" alt="">
                    </div>
                    <div class="name-desc">
                        <span class="name-desc-font">
                        {{nickname}}
                        </span>
                    </div>
                    <div class="select-cell-first-child">
                        <p class="center-item active-item">
                            <a href="./orderlist.html">我的订单</a>
                        </p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item">
                            <a href="./myCollection.html">我的收藏</a>
                        <p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item">
                            <a href="./myNews.html">站内消息</a>
                        </p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item">
                            <a href="./myAccount.html">个人信息</a>
                        </p>
                    </div>
                </div>
                <div class="accountMain">
                    <div class="accountTitle">
                        <span class="center-big margin-left">我的订单</span>
                        <span class="right-back margin-right" @click="goBackOrder">返回</span>
                    </div>
                    <div class="account-box-body">
                        <div class="account-box-line account-box-first">
                            <div class="account-box-content">
                                <p class="font-40px-black" style="margin-bottom: 2vw;">基本信息</p>
                                <input type="button" class="order-message" :value="'订单编号：'+order.orderNo">
                                <input type="button" class="order-message" :value="'创建日期：'+order.createTime">
                                <input type="button" class="order-message" :value="order.orderStatus">
                                <input type="button" class="order-message" v-if="adviserAccount!=null" :value="'咨询师：'+adviserAccount.name">
                            	<br/><br/>
                            	<input type="button" class="order-message" :value="'团队人数：'+order.groupNumber">
                            	<input type="button" class="order-message" :value="'团队联系人：'+order.contract">
                            	<input type="button" class="order-message" :value="'团队联系人电话：'+order.contractMobile">
                            </div>
                           
                        </div>
                         <div class="account-box-line account-box-first" v-if="locationList!=null">
                            <div class="account-box-content">
                                <p class="font-40px-black" style="margin-bottom: 2vw;">感兴趣场地</p>
                                <template v-for="(item,index) in locationList">
                                	<a :href="'./productdetail.html?type=location&id='+item.id"><input type="button" class="order-message" :value="item.name"></a>
                                </template>
                            </div>
                        </div>
                         <div class="account-box-line account-box-first" v-if="productList!=null">
                            <div class="account-box-content">
                                <p class="font-40px-black" style="margin-bottom: 2vw;">感兴趣产品</p>
                                <template v-for="(item,index) in productList">
                                	<a :href="'./productdetail.html?type=product&id='+item.id"><input type="button" class="order-message" :value="item.name"></a>
                                </template>
                            </div>
                        </div>
                         <div class="account-box-line account-box-first" v-if="caseList!=null">
                            <div class="account-box-content">
                                <p class="font-40px-black" style="margin-bottom: 2vw;">感兴趣案例</p>
                                <template v-for="(item,index) in caseList">
                                	<a :href="'./productdetail.html?type=case&id='+item.id"><input type="button" class="order-message" :value="item.name"></a>
                                </template>
                            </div>
                        </div>
                        <div class="account-box-line" v-for="item in caseDraft">
	                        	<a :href="item.filePath" download="item.fileName">
	                                <div class="account-box-left">
	                                    <img src="../../img/myOrder_ico1.jpg" />
	                                    <div class="account-box-left-txt">
	                                        <p>初步方案.pdf</p>
	                                        <span>点击可下载附件</span>
	                                    </div>
	                                </div>
	                            </a>
                            
                            <div class="account-button-right">
                                <input type="button" value="联系咨询师" class="btn-primary" @click="showSiteMsgWindow()">
                                <input type="button" v-if="order.orderStatusCode==2" value="同意初步方案" class="btn-primary" @click="orderResultClick(3)">
<!--                                 <p class="right-button-txt">更新与3天12小时前</p> -->
                            </div>
                        </div>
                        <div class="account-box-line"  v-for="item in appointment">
	                        	<a :href="item.filePath" download="item.fileName">
                                <div class="account-box-left">
                                    <img src="../../img/myOrder_ico2.jpg" />
                                    <div class="account-box-left-txt">
                                        <p>合作意向书.pdf</p>
                                        <span>点击可下载附件</span>
                                    </div>
                                </div>
                            </a>
                            <div class="account-button-right">
                            <input type="button" value="同意合作意向书" v-if="order.orderStatusCode==4" class="btn-primary" @click="orderResultClick(5)">
<!--                                 <input type="button" value="下载原意向书" class="btn-primary"> -->
<!--                                 <input type="button" value="重新上传" class="btn-primary"> -->
<!--                                 <p class="right-button-txt">等待审核</p> -->
                            </div>
                        </div>
                        <div class="account-box-line" v-for="item in projectConclude">
	                        	<a :href="item.filePath" download="item.fileName">
                                <div class="account-box-left">
                                    <img src="../../img/myOrder_ico3.jpg" />
                                    <div class="account-box-left-txt">
                                        <p>项目汇总(案例).pdf</p>
                                        <span>点击可下载附件</span>
                                    </div>
                                </div>
                            </a>
                            <div class="account-button-right" v-if="order.orderStatusCode==8">
                                <input type="button" value="同意结项" class="btn-primary" @click="orderResultClick(6)">
                                <input type="button" value="不同意结项" class="btn-primary" @click="orderResultClick(7)">
<!--                                 <p class="right-button-txt">更新与3天12小时前</p> -->
                            </div>
                        </div>
                        <div class="account-box-line2">
                            <h2>需求概要</h2>
                            <div class="form-left">
                                <p>
                                    <label>活动类型</label>
                                    <input type="text" :value="order.activitysCode" placeholder="" readonly="readonly" />
                                </p>
                                <p>
                                    <label>活动地区</label>
                                    <input type="text" :value="order.activityProvince" placeholder="" readonly="readonly" />
                                </p>
                                <p>
                                    <label>活动日期</label>
                                    <input type="text" :value="order.activityStart" placeholder="" readonly="readonly" />
                                </p>
                            </div>
                            <div class="form-right">
                                <p>
                                    <input type="text" value="内部培训" placeholder="" style="width:30.8vw;margin-left: 0;" readonly="readonly" />
                                </p>
                                <p>
                                    <label>活动天数</label>
                                    <input type="text" :value="order.activityDuring" placeholder="" readonly="readonly" />
                                </p>
                                <p>
                                    <label>活动预算</label>
                                    <input type="text" :value="order.orderSimulatePrice" placeholder="" readonly="readonly" />
                                </p>
                            </div>

                            <div class="form-bottom">
                                <p>
                                    <label>其他需求</label>
                                    <textarea :value="order.otherNeeds" placeholder="暂无"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="common-tail-bg">
                    <div id="common-tail" class="common-tail">
                        <div id="tail-nav" class="tail-nav">
                            <nav>
                                <ul>
                                    <li class="tail-li-left">
                                        <a href="#">关于我们</a>
                                    </li>
                                  <!--   <li class="tail-li-left">
                                        <a href="#">加入我们</a>
                                    </li>
                                    <li class="tail-li-left">
                                        <a href="#">联系我们</a>
                                    </li>
                                    <li class="tail-li-left">
                                        <a href="#">条款</a>
                                    </li> -->
                                    <li class="tail-li-left " style="margin-right: 0">
                                        <a href="#">网站导航</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="icon-connect" class="icon-connect">
                            <p>
                               <!--  <i class="iconfont icon-facebookfacebook52 clickIcon" style="font-size: 2vw"></i>
                                <i class="iconfont icon-twitter3 clickIcon" style="font-size: 2vw"></i> -->
                                <i class="iconfont icon-weixin-copy clickIcon" style="font-size: 2vw" @mouseover="displayIcon" @mouseout="hideIcon"></i>
                               <!--  <i class="iconfont icon-weibo clickIcon" style="font-size: 2vw"></i> -->
                            </p>
                        </div>
                        <div class="clear"></div>
                        <div id="tail-display-icon-big" >
                			<img id="tail-image-icon" class="tail-image-icon" src="../../img/weixinContract.png" style="width:344px" v-show="tailWeixinIcon" v-cloak />  
                			</div>
                    </div>
                </div>
            </div>
            <div class="msg-pannel" v-if="msgWindow" v-cloak>
				<div id="close-pannel" class="msg-close-pannel">
					<i class="iconfont-user1 icon-close" style="font-size: 1.07vw;" @click="closeMsgWindow"></i>
				</div>
				<div class="login-head" style="font-size: 1.625vw;">
					<h2>提示信息</h2>
				</div>
				<div class="msg-text-pannel">
					<span>{{msgText}}</span>
				</div>
				<div class="msg-btn-pannel">
					<input type="button" value="确 认" class="msg-show-button" @click="closeMsgWindow">
				</div>
			</div>
			<div id="dialog" style="z-index: 100;" v-if="siteMsgWindow || msgWindow"></div>
			<div id="siteMsg" v-if="siteMsgWindow">
				<div id="loginWindow" class="login-pannel"
					style="height: 26.8vw; width: 38vw; left: 36vw; top: 8.6vw;">
					<div id="close-pannel" class="close-pannel" @click="closeSiteMsgWindow">
						<i class="iconfont-user1 icon-close"></i>
					</div>
					<div id="login-head" class="login-head" style="font-size: 2.125vw;">
						<h2>请输入联系内容</h2>
					</div>
					<div id="username-input" class="username-input"
						style="height: 10vw;">
						<!-- textare-->
						<textarea  style="width: 100%; height: 100%; font-size: 1.625vw;" v-model="siteMsgText"></textarea>
					</div>
					<div id="login-button" class="login-button"
						style="margin-top: 2vw; height: 3.17vw; width: 21.25vw;">
						<input type="button" value="提 交" class="sms-login-button" @click="siteMsgAdd()">
					</div>
				</div>
			</div>
        </div>
    </form>
    <div id="lrPannel"></div>
    <script type="application/javascript" src="../../script-dev/common.app.js"></script>
    <script type="application/javascript" src="../../script-dev/myorder.js"></script>
</body>
</html>