<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <link rel="icon" href="../../img/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/globalReset.css">
    <link rel="stylesheet" href=" ../../css/common.css">
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/ordersubmit.css">
    <title>需求采集</title>
    <script type="application/javascript" src="../../script/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="../../script/jquery.cookie.js"></script>
    <script type="application/javascript" src="../../script/vue.min.js"></script>
</head>
<body>
<form action="#">
    <div id="container" class="container">
        <div id="common-header" class="common-head">
            <div id="icon" class="icon-flow">
                <img src="../../img/logo.png" alt="logo.png" width="100%">
            </div>
            <div id="location-selector" class="location-selector">
                <select class="location-selector-item">
                    <option>上海 </option>
                </select>
            </div>
            <div id="url-nav" class="class-nav">
                <nav class="navbar">
                    <ul>
                        <li class="tail-li-left"><a href="../../index.html">首页</a></li>
                        <li class="tail-li-left"><a href="./listproduction.html">找产品</a></li>
                        <li class="tail-li-left"><a href="./listlocation.html">看场地</a></li>
                        <li class="tail-li-left"><a href="./listcase.html" >看案例</a></li>
                        <li class="tail-li-left"><a href="./myAccount.html">个人中心</a></li>
                    </ul>
                </nav>
            </div>
            <div id="url-login" class="class-login-nav">
                <nav class="navbar">
                        <ul v-if="loginBtnUl">
                            <li class="li-right"><a href="#" @click="showLogin(1)">咨询师登录</a></li>
                            <li class="li-right"><a href="#" @click="showLogin(0)">用户登录</a></li>
                        </ul>
                        <ul v-if="loginIdUl">
                            <li class="li-right" style="margin-left: 0.5vw;"><a href="javascript:void(0);" onclick="logout()">退出</a></li>
                            <li class="li-right" style="margin-left: 0.5vw;"><a href="#">欢迎您：{{loginId}}</a></li>
                        </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </div>
        <div class="banner">
            <img src="../../img/banner/banner1.png" alt="banner1.png" width="100%">
        </div>
        <div class="headline">
            <span class="headline-text">您的团队概要</span>
        </div>
        <div class="formcontent">
            <div class="first-contentrow">
                <div class="label-grey fistcolumn">企业类型</div>
                <select name="company_type" id="company_type" class="select-grey">
                    <option value=" ">请选择 </option>
                </select>
                <i class="iconfont-bold icon-xiajiantou iconfontposition"></i>
                <div class="label-grey secondcolumn">联系人姓名</div>
                <input type="text" class="input-grey">
            </div>
            <div class="contentrow">
                <div class="label-grey fistcolumn">参与人数</div>
                <select name="company_type" id="peopleNum" class="select-grey">
                    <option value=" ">请选择 </option>
                </select>
                <i class="iconfont-bold icon-xiajiantou iconfontposition"></i>
                <div class="label-grey secondcolumn">联系人电话</div>
                <input type="text" class="input-grey">
            </div>
            <div class="contentrow">
                <div class="label-grey fistcolumn">人群特点</div>
                <select name="company_type" id="people-special1" class="select-grey" style="width: 19.63vw ">
                    <option value=" ">请选择 </option>
                </select>
                <i class="iconfont-bold icon-xiajiantou iconfontposition"></i>
                <select name="company_type" id="people-special2" class="select-grey" style="width: 19.63vw;margin-left: 0">
                    <option value=" ">请选择 </option>
                </select>
                <i class="iconfont-bold icon-xiajiantou iconfontposition"></i>
                <select name="company_type" id="people-special3" class="select-grey" style="width: 19.63vw;margin-left: 0">
                    <option value=" ">请选择 </option>
                </select>
                <i class="iconfont-bold icon-xiajiantou iconfontposition"></i>
                <i class="iconfont-color icon-tianjia"></i>
            </div>

        </div>
        <div class="headline">
            <span class="headline-text">您的需求概要</span>
        </div>
        <div class="formcontent" style="height: 41.46vw;vertical-align: top">
            <div class="first-contentrow">
                <div class="label-grey fistcolumn">活动类型</div>
                <select name="company_type" id="activity-type1" class="select-grey">
                    <option value=" ">请选择 </option>
                </select>
                <i class="iconfont-bold icon-xiajiantou iconfontposition"></i>
                <select name="company_type" id="activity-type2" class="select-grey" style="margin-left: 0">
                    <option value=" ">请选择 </option>
                </select>
                <i class="iconfont-bold icon-xiajiantou iconfontposition"></i>
                <i class="iconfont-color icon-tianjia"></i>
            </div>
            <div class="contentrow">
                <div class="label-grey fistcolumn">活动地区</div>
                <select name="company_type" id="location-type" class="select-grey">
                    <option value=" ">请选择 </option>
                </select>
                <i class="iconfont-bold icon-xiajiantou iconfontposition"></i>
                <div class="label-grey secondcolumn">活动天数</div>
                <input type="text" class="input-grey">
            </div>
            <div class="contentrow">
                <div class="label-grey fistcolumn">活动日期</div>
                <select name="company_type" id="duration-type" class="select-grey">
                    <option value=" ">请选择 </option>
                </select>
                <i class="iconfont-bold icon-xiajiantou iconfontposition"></i>
                <div class="label-grey secondcolumn">活动预算</div>
                <input type="text" class="input-grey">
            </div>
            <div class="contentrow" >
                <div class="label-grey fistcolumn vtop">其他需求</div>
                <div class="textarea vtop">
                    <textarea name="other-require" id="other-require" cols="30" rows="10" class="text"></textarea>
                </div>
            </div>
        </div>
        <div class="specical-request-div">
            <span class="specical-request-text">专业咨询师会根据您的需求概要与感兴趣的产品／场地／案例来定制初步方案</span>
        </div>
        <div class="requrire-propse-button">
            <input type="button" class="require-button" value="提交需求">
        </div>
        <div class="headline">
            <span class="headline-text">请选择您感兴趣的产品／场地／案例</span>
        </div>
        <div class="imagge-mix-table-wrapper">
            <div class="imagge-mix-table">
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-grey span-grey-column1">产品</div>
                    </div>
                    <div class="middle-column">
                        <div class="span-grey span-grey-column2">场地</div>
                    </div>
                    <div class="right-column">
                        <div class="span-grey span-grey-column3">案例</div>
                    </div>
                </div>
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-grey-blank span-column1">
                            <i class="iconfont-bolder icon-shangjiantou"></i>
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-grey-blank span-column2">
                            <i class="iconfont-bolder icon-shangjiantou"></i>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-grey-blank span-column3 ">
                            <i class="iconfont-bolder icon-shangjiantou"></i>
                        </div>
                    </div>
                </div>
                <!--  3个一组是整体-->
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-image-blank span-column1 border-radius">
                            <div class="span-image-content">
                                <img src="../../img/require-image11.png" alt="">
                                <p class="align-left">探秘古道红枫，寻访仙谷奇缘—
                                    南黄古道+琼台仙谷......   </p>
                            </div>
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-image-blank span-column2 border-radius">
                            <div class="span-image-content">
                                <img src="../../img/require-image12.png" alt="">
                                <p class="align-left">上海卢湾体育场 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-image-blank span-column3 border-radius">
                            <div class="span-image-content">
                                <img src="../../img/require-image13.png" alt="">
                                <p class="align-left">上海卢湾体育场  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-image-blank span-column1 border-slide position-relative">
                           <span class="price-label">参考价格: 1000-1500元/人</span>
                            <input type="checkbox" name="selectcase" style="display: none">
                            <i class="iconfont-bold2 icon-checkbox-non"></i>
                            <hr class="specil-line">
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-image-blank span-column2 border-slide position-relative">
                            <span class="price-label">参考价格: 1200元/人</span>
                            <input type="checkbox" name="selectcase" style="display: none">
                            <i class="iconfont-bold2 icon-checkbox-non"></i>
                            <hr class="specil-line">
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-image-blank span-column3 border-slide position-relative">
                            <span class="price-label">参考价格: 400-600元/人</span>
                            <input type="checkbox" name="selectcase" style="display: none">
                            <i class="iconfont-bold2 icon-checkbox-non"></i>
                            <hr class="specil-line">
                        </div>
                    </div>
                </div>
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-image-blank span-column1 border-bottom position-top" >
                            <div class="left-text-wrapper">
                                <div class="left-text">
                                    <p>地区：浙江省台州市</p>
                                    <p>人数：50-150人</p>
                                </div>
                                <div class="right-text">
                                    <p>类型：户外拓展</p>
                                    <p>天数： 2-3天</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-image-blank span-column2 border-bottom position-top">
                            <div class="left-text-wrapper">
                                <div class="left-text">
                                    <p>地区：上海市</p>
                                    <p>人数：可容纳3000人</p>
                                </div>
                                <div class="right-text">
                                    <p>类型：团队赛跑 </p>
                                    <p>天数：1天   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-image-blank span-column3 border-bottom position-top">
                            <div class="left-text-wrapper">
                                <div class="left-text">
                                    <p>地区：杭州市</p>
                                    <p> 类型：趣味游戏 </p>
                                </div>
                                <div class="right-text">
                                    <p>人数：20-50人  </p>
                                    <p>天数：2天   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  3个一组是整体-->
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-image-blank span-column1 border-radius">
                            <div class="span-image-content">
                                <img src="../../img/require-image21.png" alt="">
                                <p class="align-left">2018年上港集团公路骑行 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-image-blank span-column2 border-radius">
                            <div class="span-image-content">
                                <img src="../../img/require-image22.png" alt="">
                                <p class="align-left">上海卢湾体育场 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-image-blank span-column3 border-radius">
                            <div class="span-image-content">
                                <img src="../../img/require-image23.png" alt="">
                                <p class="align-left">某长沙集团水上球类运动  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-image-blank span-column1 border-slide position-relative">
                            <span class="price-label">参考价格: 500-600元/人</span>
                            <input type="checkbox" name="selectcase" style="display: none">
                            <i class="iconfont-bold2 icon-checkbox-non"></i>
                            <hr class="specil-line">
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-image-blank span-column2 border-slide position-relative">
                            <span class="price-label">参考价格: 1000-1500元/人</span>
                            <input type="checkbox" name="selectcase" style="display: none">
                            <i class="iconfont-bold2 icon-checkbox-non"></i>
                            <hr class="specil-line">
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-image-blank span-column3 border-slide position-relative">
                            <span class="price-label">参考价格: 500元/人</span>
                            <input type="checkbox" name="selectcase" style="display: none">
                            <i class="iconfont-bold2 icon-checkbox-non"></i>
                            <hr class="specil-line">
                        </div>
                    </div>
                </div>
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-image-blank span-column1 border-bottom position-top" >
                            <div class="left-text-wrapper">
                                <div class="left-text">
                                    <p>地区：上海市  </p>
                                    <p>人数：500-1000人</p>
                                </div>
                                <div class="right-text">
                                    <p>类型：户外拓展</p>
                                    <p>天数： 1天</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-image-blank span-column2 border-bottom position-top">
                            <div class="left-text-wrapper">
                                <div class="left-text">
                                    <p>地区：浙江台州市</p>
                                    <p> 人数：50-100人 </p>
                                </div>
                                <div class="right-text">
                                    <p>类型：户外拓展  </p>
                                    <p>天数：2-3天   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-image-blank span-column3 border-bottom position-top">
                            <div class="left-text-wrapper">
                                <div class="left-text">
                                    <p>地区：湖南长沙市</p>
                                    <p> 人数：50-100人 </p>
                                </div>
                                <div class="right-text">
                                    <p>类型：团队合作</p>
                                    <p>天数：1天   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  3个一组是整体-->
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-image-blank span-column1 border-radius">
                            <div class="span-image-content">
                                <img src="../../img/require-image31.png" alt="">
                                <p class="align-left">探秘古道红枫，寻访仙谷奇缘—
                                    南黄古道+琼台仙谷......   </p>
                            </div>
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-image-blank span-column2 border-radius">
                            <div class="span-image-content">
                                <img src="../../img/require-image32.png" alt="">
                                <p class="align-left">卡丁车赛车馆速度争霸赛 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-image-blank span-column3 border-radius">
                            <div class="span-image-content">
                                <img src="../../img/require-image33.png" alt="">
                                <p class="align-left">户外森林公园团体拓展培训  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-image-blank span-column1 border-slide position-relative">
                            <span class="price-label">参考价格: 1000-1500元/人</span>
                            <input type="checkbox" name="selectcase" style="display: none">
                            <i class="iconfont-bold2 icon-checkbox-non"></i>
                            <hr class="specil-line">
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-image-blank span-column2 border-slide position-relative">
                            <span class="price-label">参考价格: 1000-1500元/人</span>
                            <input type="checkbox" name="selectcase" style="display: none">
                            <i class="iconfont-bold2 icon-checkbox-non"></i>
                            <hr class="specil-line">
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-image-blank span-column3 border-slide position-relative">
                            <span class="price-label">参考价格: 300-500元/人</span>
                            <input type="checkbox" name="selectcase" style="display: none">
                            <i class="iconfont-bold2 icon-checkbox-non"></i>
                            <hr class="specil-line">
                        </div>
                    </div>
                </div>
                <div class="image-mix-row">
                    <div class="left-column">
                        <div class="span-image-blank span-column1 border-bottom position-top" >
                            <div class="left-text-wrapper">
                                <div class="left-text">
                                    <p>地区：浙江省台州市  </p>
                                    <p>人数：50-150人</p>
                                </div>
                                <div class="right-text">
                                    <p>类型：户外拓展</p>
                                    <p>天数： 2-3天</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="middle-column">
                        <div class="span-image-blank span-column2 border-bottom position-top">
                            <div class="left-text-wrapper">
                                <div class="left-text">
                                    <p>地区：浙江省台州市  </p>
                                    <p>人数：50-150人</p>
                                </div>
                                <div class="right-text">
                                    <p>类型：户外拓展</p>
                                    <p>天数： 2-3天</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="span-image-blank span-column3 border-bottom position-top">
                            <div class="left-text-wrapper">
                                <div class="left-text">
                                    <p>地区：上海市</p>
                                    <p> 人数：50-100人 </p>
                                </div>
                                <div class="right-text">
                                    <p>类型：拓展训练</p>
                                    <p>天数：2天   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="common-tail-bg" style="margin-top: 4.32vw">
            <div id="common-tail" class="common-tail">
                <div id="tail-nav" class="tail-nav">
                    <nav >
                        <ul>
                            <li class="tail-li-left" ><a href="#">关于我们</a></li>
                            <li class="tail-li-left" ><a href="#">加入我们</a></li>
                            <li class="tail-li-left" ><a href="#">联系我们</a></li>
                            <li class="tail-li-left" ><a href="#">条款</a></li>
                            <li class="tail-li-left " style="margin-right: 0"><a href="#">网站导航</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="icon-connect" class="icon-connect">
                    <p>
                        <i class="iconfont icon-facebookfacebook52 clickIcon" style="font-size: 2vw"></i>
                        <i class="iconfont icon-twitter3 clickIcon" style="font-size: 2vw"></i>
                        <i class="iconfont icon-weixin-copy clickIcon" style="font-size: 2vw"></i>
                        <i class="iconfont icon-weibo clickIcon" style="font-size: 2vw"></i>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</form>
 <div id="lrPannel">
    		<div id="login-pannel" class="login-pannel" v-if="loginWindow" v-cloak id="loginWindow">
                <div id="close-pannel" class="close-pannel">
                    <i class="iconfont-user1 icon-close" @click="closeLogin"></i>
                </div>
                <div id="login-head" class="login-head">
                    <h2>{{loginTitle}}</h2>
                </div>
                <div id="username-input" class="username-input">
                    <div id="user-icon" class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div id="user-input" class="user-input">
                        <input v-model="account.loginId" @focus="accountFocus()" type="text" class="inputText" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="userpwd-input" v-show="messageLogin">
                    <div id="pwd-icon" class="user-icon">
                        <i class="iconfont-user2 icon-mail"></i>
                    </div>
                    <div id="pwd-input" class="user-pwd">
                        <input v-model="account.smsCode" @focus="accountFocus()" class="inputText" placeholder="请输入验证码">
                    </div>
                    <div id="pwd-button" class="user-button">
                        <input @click="accountSmsCodeGet" type="button" :value="SMS.btnText" class="sms-send-button" :disabled="SMS.disabled">
                    </div>
                </div>
                <div class="userpwd-input" v-show="!messageLogin">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-pwd" style="width:auto;">
                        <input v-model="account.password" @focus="accountFocus()" type="password" class="inputText" placeholder="请输入密码">
                    </div>
                </div>
                <div id="err-msg" class="extra-message" style="margin-top: 0.2vw;">
	            	<div class="exttra-message-right" style="color: red;">
	                    <p>{{account.errMsg}}</p>
	                </div>
            	</div>
                <div id="extra-message" class="extra-message">
                    <div id="icon-selected" class="exttra-message-left">
                        <i class="iconfont-user3 icon-gouxuan " @click="changeAutoLogin" v-if="autoLogin"></i>
                        <i class="iconfont-user3 icon-gouxuan1" @click="changeAutoLogin" v-else></i>
                    </div>
                    <div class="exttra-message-right">
                        <p>自动登录</p>
                    </div>
                    <div class="exttra-message-left" style="padding-left:15px;">
                        <i class="iconfont-user3 icon-gouxuan " @click="changeMessageLogin" v-if="messageLogin"></i>
                        <i class="iconfont-user3 icon-gouxuan1" @click="changeMessageLogin" v-else></i>
                    </div>
                    <div class="exttra-message-right">
                        <p>短信快捷登录</p>
                    </div>
                    <div class="exttra-message-right" style="padding-left:30px;">
                        <a v-show="!counselor" @click="showRegister" class="cursor-link">注册</a>
                        <span v-show="!counselor">|</span>
                        <a @click="showForget" class="cursor-link">忘记密码</a>
                    </div>
                </div>
                <div id="login-button" class="login-button">
                    <input @click="login" type="button" value="登 录" class="sms-login-button">
                </div>
                <div id="join-account-login" class="join-account-login">
                    <div id="join-account-left" class="join-account-left">
                        <p>其他账号登录</p>
                    </div>
                    <div class="join-account-right">
                        <i class="iconfont icon-facebookfacebook52 clickIcon"></i>
                        <i class="iconfont icon-weixin-copy clickIcon"></i>
                        <i class="iconfont icon-weibo clickIcon"></i>
                    </div>
                </div>
            </div>
            <div id="register-pannel" class="login-pannel" v-if="registerWindow" v-cloak>
                <div class="close-pannel">
                    <i class="iconfont-user1 icon-close" @click="closeRegister"></i>
                </div>
                <div class="login-head">
                    <h2>{{registerTitle}}</h2>
                </div>
                <div class="register-input">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-yonghu"></i>
                    </div>
                    <div class="user-input">
                        <input @focus="accountFocus()" v-model="account.loginId" type="text" class="inputText" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="register-input">
                    <div id="pwd-icon" class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-pwd">
                        <input v-model="account.smsCode" @focus="accountFocus()" type="text" class="inputText" placeholder="请输入短信验证码">
                    </div>
                    <div class="user-button">
                        <input @click="accountSmsCodeGet" type="button" value="短信验证" class="sms-send-button">
                    </div>
                </div>
                <div class="register-input">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-input">
                        <input v-model="account.password" @focus="accountFocus()" type="password" class="inputText" placeholder="请输入密码">
                    </div>
                </div>
                <div class="register-input">
                    <div class="user-icon">
                        <i class="iconfont-user2 icon-mima"></i>
                    </div>
                    <div class="user-input">
                        <input v-model="account.rePassword" @focus="accountFocus()" type="password" class="inputText" placeholder="请再次输入密码">
                    </div>
                </div>
                <div id="err-msg" class="extra-message" style="margin-top: 0.2vw;">
	            	<div class="exttra-message-right" style="color: red;">
	                    <p>{{account.errMsg}}</p>
	                </div>
            	</div>
                <div class="register-button">
                    <input v-if="registerBtn" @click="register" type="button" value="注 册" class="sms-login-button">
                    <input v-if="forgetBtn" @click="forget" type="button" value="确认修改" class="sms-login-button">
                </div>
                <div class="join-account-login">
                    <div class="join-account-left">
                        <p>如果您已拥有ID账号，可在此 <a @click="showLogin(counselor)" class="cursor-link">登录</a></p>
                    </div>
                </div>
            </div>
    </div>
</body>
<script type="application/javascript" src="../../script-dev/orderSubmit.js"></script>
<script type="application/javascript" src="../../script-dev/common.app.js"></script>
</html>