<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <link rel="icon" href="../../img/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/globalReset.css">
    <link rel="stylesheet" href=" ../../css/common.css">
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/orderlist.css">
    <link href="../../css/zpageNav.css" rel="stylesheet" />
    <script type="application/javascript" src="../../script/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="../../script/jquery.cookie.js"></script>
    <script type="application/javascript" src="../../script/vue.min.js"></script>
    <script type="application/javascript" src="../../script/axios.min.js"></script>
    <script type="application/javascript" src="../../script/zpageNav.js"></script>
    <title>个人中心</title>
</head>

<body>
    <form action="">
        <div id="container" class="container" v-cloak>
            <div id="common-header" class="common-head">
                <div id="icon" class="icon-flow">
                    <img src="../../img/logo.png" alt="logo.png" width="100%">
                </div>
                <div id="location-selector" class="location-selector">
                    <select class="location-selector-item">
                        <option>上海 </option>
                    </select>
                </div>
                <div id="url-nav" class="class-nav">
                    <nav class="navbar">
                        <ul>
                            <li class="tail-li-left">
                                <a href="../../index.html">首页</a>
                            </li>
                            <li class="tail-li-left">
                                <a href="./listproduction.html">找产品</a>
                            </li>
                            <li class="tail-li-left">
                                <a href="./listlocation.html">看场地</a>
                            </li>
                            <li class="tail-li-left">
                                <a href="./listcase.html">看案例</a>
                            </li>
                            <li class="tail-li-left">
                                <a href="./myAccount.html" class="active-link">个人中心</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="url-login" class="class-login-nav">
                    <nav class="navbar">
                        <ul v-if="loginBtnUl">
                            <li class="li-right"><a href="#" @click="showLogin(1)">咨询师登录</a></li>
                            <li class="li-right"><a href="#" @click="showLogin(0)">用户登录</a></li>
                        </ul>
                        <ul v-if="loginIdUl">
                            <li class="li-right" style="margin-left: 0.5vw;"><a href="javascript:void(0);" onclick="logout()">退出</a></li>
                            <li class="li-right" style="margin-left: 0.5vw;"><a href="#">欢迎您：{{loginId}}</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
            <div id="accountBody" class="accountBody">
				<div class="leftAccount">
                    <div class="account-image">
                        <img :src="headimg" alt="">
                    </div>
                    <div class="name-desc">
                        <span class="name-desc-font">
                        {{nickname}}
                        </span>
                    </div>
                    <div class="select-cell-first-child">
                        <p class="center-item active-item">
                            <a href="./orderlist.html">我的订单</a>
                        </p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item">
                            <a href="./myCollection.html">我的收藏</a>
                        <p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item">
                            <a href="./myNews.html">站内消息</a>
                        </p>
                    </div>
                    <div class="select-cell">
                        <p class="center-item">
                            <a href="./myAccount.html">个人信息</a>
                        </p>
                    </div>
                </div>
                <div class="accountMain">
                    <div class="accountTitle">
                        <span class="center-big margin-left">我的订单</span>
                    </div>
                    <div class="account-box-body">
                        <div class="account-box-line">
                            <div class="table-head">
                                <div class="sect-one">订单编号</div>
                                <div class="sect-two">创建日期</div>
                                <div class="sect-three">订单状态</div>
                                <div class="sect-four">咨询师</div>
                                <div class="sect-five"></div>
                            </div>
                            <div class="table-body">
                                <div class="detail-line" v-for="item in list">
                                    <div class="sect-one">{{item.orderNo}} </div>
                                    <div class="sect-two"> {{item.createTime}}</div>
                                    <div class="sect-three"> {{item.orderStatusCodeString}}</div>
                                    <div class="sect-four">{{item.name}}</div>
                                    <div class="sect-five">
                                        <input type="button" value="查看详情" class="btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
					<div class="wrap" id="wrap">
				        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total" 
				        	v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
				        </zpagenav>
				    </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="common-tail-bg">
                    <div id="common-tail" class="common-tail">
                        <div id="tail-nav" class="tail-nav">
                            <nav>
                                <ul>
                                    <li class="tail-li-left">
                                        <a href="#">关于我们</a>
                                    </li>
                                    <li class="tail-li-left">
                                        <a href="#">加入我们</a>
                                    </li>
                                    <li class="tail-li-left">
                                        <a href="#">联系我们</a>
                                    </li>
                                    <li class="tail-li-left">
                                        <a href="#">条款</a>
                                    </li>
                                    <li class="tail-li-left " style="margin-right: 0">
                                        <a href="#">网站导航</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="icon-connect" class="icon-connect">
                            <p>
                                <i class="iconfont icon-facebookfacebook52 clickIcon" style="font-size: 2vw"></i>
                                <i class="iconfont icon-twitter3 clickIcon" style="font-size: 2vw"></i>
                                <i class="iconfont icon-weixin-copy clickIcon" style="font-size: 2vw"></i>
                                <i class="iconfont icon-weibo clickIcon" style="font-size: 2vw"></i>
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="msg-pannel" v-if="msgWindow" v-cloak>
				<div id="close-pannel" class="msg-close-pannel">
					<i class="iconfont-user1 icon-close" style="font-size: 1.07vw;" @click="closeMsgWindow"></i>
				</div>
				<div class="login-head" style="font-size: 1.625vw;">
					<h2>提示信息</h2>
				</div>
				<div class="msg-text-pannel">
					<span>{{msgText}}</span>
				</div>
				<div class="msg-btn-pannel">
					<input type="button" value="确 认" class="msg-show-button" @click="closeMsgWindow">
				</div>
			</div>
        </div>
    </form>
    <div id="lrPannel"></div>
    <script type="application/javascript" src="../../script-dev/common.app.js"></script>
    <script type="application/javascript" src="../../script-dev/orderlist.js"></script>
</body>
</html>