div {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    display: block;
    /* text-align: center;*/
}

.container {
    width: 100vw;
    /* height:100vh;*/
    /* background-color:chartreuse;*/
    font-family: PingFangSC-Regular, sans-serif;
    ;
    font-size: 1.25vw;
    color: #414141;
    letter-spacing: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.common-head {
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
    /*background-color: crimson;*/
    /*height:160px;*/
    overflow: hidden;
    position: relative;
}

.icon-flow {
    width: 20vw;
    margin-top: 5px;
    float: left;
}

.location-selector {
    position: absolute;
    left: 21vw;
    width: 23vw;
    height: 100%;
}

.location-selector-item {
    font-size: 1.25vw;
    font-weight: 600;
    width: 6.5vw;
    position: relative;
    top: 50%;
    border: solid 0px white;
    cursor: pointer;
    /*appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    */
    /*background:url('../img/tri.png') no-repeat right center transparent;*/
}

.class-nav {
    position: absolute;
    left: 44vw;
    width: 33vw;
    height: 100%;
}

.navbar {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 50%;
    border-right: 2px solid #414141;
}

.class-nav nav li {
    line-height: 100%;
}

.li-left {
    float: left;
    margin-right: 2.4vw;
}

.li-right {
    float: right;
    margin-left: 2.4vw;
}

nav a {
    text-decoration: none;
    font-size: 1.25vw;
    font-weight: 600;
    color: #414141;
}

    nav a:link {
        color: #414141;
    }

.active-link {
    color: #E27D17;
    text-decoration: underline;
}

nav a:hover {
    color: #E27D17;
    text-decoration: underline;
}

.class-login-nav {
    position: absolute;
    left: 77vw;
    width: 17vw;
    height: 100%;
}

.common-tail-bg {
    width: 100%;
    background-color: #EEEEEE;
    border: 1px solid white;
}

.common-tail {
    margin-left: 5.05vw;
    margin-top: 5.16vw;
    height: 10.7vw;
}

.tail-nav {
    float: left;
    width: 34.74vw;
}

.icon-connect {
    float: left;
    margin-left: 5vw;
    position: relative;
    top: -0.5vw;
    letter-spacing: 0.2vw;
}

.tail-li-left {
    float: left;
    margin-right: 2vw;
    font-size: 1.25vw;
}

.clickIcon:hover {
    cursor: pointer;
    text-decoration: underline;
}

.mask {
    width: 100vw;
    height: 10000vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0,0,0,0.5);
}

[v-cloak] {
    display: none;
}

.page-location {
    width: 94vw;
    height: 3.65vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    vertical-align: middle;
}

.page-location-text {
    line-height: 3.65vw;
    font-family: PingFangSC-Regular;
    font-size: 1.25vw;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login-pannel {
    z-index: 100;
    position: fixed;
    /*top:13.44vw;*/
    top: 3vw;
    left: 26.56vw;
    width: 46.875vw;
    height: 42vw;
    background-color: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 8px;
}

.login-head {
    margin-top: 0.94vw;
    text-align: center;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 3.125vw;
    font-weight: bold;
}

.close-pannel {
    margin-top: 1.04vw;
    margin-right: 0.73vw;
    text-align: right;
}

    .close-pannel:hover {
        cursor: pointer;
        color: #FF7E00;
    }

.username-input {
    margin-top: 2.71vw;
    width: 31.25vw;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.userpwd-input {
    margin-top: 2.19vw;
    width: 31.25vw;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.user-icon {
    width: 3.02vw;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: #F5F5F5;
    border: 1px solid #979797;
    border-top-left-radius: 0.42vw;
    border-bottom-left-radius: 0.42vw;
    /*border-radius: 8px;*/
}

.user-input {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #979797;
    border-top-right-radius: 0.42vw;
    border-bottom-right-radius: 0.42vw;
    /*border-radius: 8px;*/
}

.user-pwd {
    width: 13.91vw;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #979797;
    border-top-right-radius: 0.42vw;
    border-bottom-right-radius: 0.42vw;
}

.user-button {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    border: 0;
}

.inputText {
    width: 100%;
    border: 0px;
    outline: none;
    cursor: pointer;
    font-family: PingFangSC-Regular;
    font-size: 1.56vw;
    color: black;
}

.sms-send-button {
    width: 11.46vw;
    height: 100%;
    background: #414141;
    border-radius: 0.42vw;
    outline: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #979797;
    color: #FFFFFF;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 1.56vw;
}

    .sms-send-button:hover {
        cursor: pointer;
        background-color: #727272;
    }



.iconfont-user1 {
    font-family: "iconfont" !important;
    font-size: 2.07vw;
    font-style: normal;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-user2 {
    font-family: "iconfont" !important;
    font-size: 3.02vw;
    font-style: normal;
    font-weight: bold;
    color: #CBCBCB;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-user3 {
    font-family: "iconfont" !important;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: normal;
    color: #FF7E00;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .iconfont-user3:hover {
        color: #FF9D13;
    }

.extra-message {
    width: 31.25vw;
    margin-top: 1.72vw;
    margin-left: auto;
    margin-right: auto;
}

.exttra-message-left {
    display: table-cell;
    text-align: left;
    width: 1.93vw;
}

.exttra-message-right {
    display: table-cell;
    text-align: left;
}

.login-button {
    margin-top: 4.95vw;
    width: 31.25vw;
    ;
    margin-right: auto;
    height: 4.17vw;
    margin-left: auto;
    text-align: center;
}

.sms-login-button {
    width: 100%;
    height: 100%;
    background: #FF7E00;
    border-radius: 0.42vw;
    outline: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #979797;
    color: #FFFFFF;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 2.08vw;
    font-weight: bold;
}


    .sms-login-button:hover {
        background-color: #FF9D13;
        cursor: pointer;
    }

.join-account-login {
    width: 31.25vw;
    margin-top: 4.32vw;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.join-account-left {
    width: 8.60vw;
    display: table-cell;
    text-align: left;
}

.join-account-right {
    display: table-cell;
    text-align: left;
}

.slidebar {
    width: 18.23vw;
    /*float:right;*/
    height: 13.02vw;
    z-index: 101;
    padding-top: 1.56vw;
    text-align: center;
    border: 1px solid #979797;
    border-radius: 0.42vw;
    position: fixed;
    top: 10vw;
    left: 80vw;
    background-color: white;
    opacity: 0.9;
}

.slidebar-list {
    width: 18.23vw;
    /*float:right;*/
    height: 13.02vw;
    z-index: 101;
    padding-top: 1.56vw;
    text-align: center;
    border: 1px solid #979797;
    border-radius: 0.42vw;
    position: fixed;
    top: 20vw;
    left: 80vw;
    background-color: white;
    opacity: 0.9;
}

.slidebar-head {
    font-size: 1.145vw;
    font-weight: bold;
}

.slidebar-text {
    font-family: PingFangSC-Regular;
    font-size: 0.94vw;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    width: 15.47vw;
}

.slider-button {
    width: 13.23vw;
    height: 2.6vw;
    margin-top: 2.1vw;
    margin-left: auto;
    margin-right: auto;
}

.slider-button-item {
    width: 100%;
    height: 100%;
    background: #FF7E00;
    border-radius: 0.42vw;
    outline: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #979797;
    color: #FFFFFF;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 1.36vw;
    font-weight: bold;
}

    .slider-button-item:hover {
        background-color: #FF9D13;
        cursor: pointer;
    }


.register-button {
    margin-top: 2.71vw;
    width: 31.25vw;
    margin-right: auto;
    height: 4.17vw;
    margin-left: auto;
    text-align: center;
}


.register-input {
    margin-top: 1vw;
    width: 31.25vw;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.cursor-link {
    color: #E27D17;
    text-decoration: underline;
    cursor: pointer;
}

input[type=button]:disabled {
    color: #ACA899;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    cursor: not-allowed;
}