.banner{
    width:94vw;
    margin-left:auto;
    margin-right:auto;
    /*background-color: crimson;*/
    /*height:160px;*/
    overflow:hidden;
}

.display-bar{
    margin-top:2.6vw;
    width:94vw;
    height: 33.86vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-image: radial-gradient(51% 194%, #F0F0F0 57%, #E5E5E5 100%);
   /* background-color: #9B9B9B;*/
    border: 1px solid #979797;
    border-radius: 9px;
}

.displaybox1{
    margin-top: 2.6vw;
    width:56.4vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.displaytext{
    margin-top:2.08vw;
    width:49.43vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.displaybutton{
    margin-top:2.1vw;
    width:18.07vw;
    height:4.2vw;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary{
    width:100%;
    height:100%;
    background: #FF7E00;
    border-radius: 8px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #FF7E00;
    color:#FFFFFF;
    font-family:PingFangSC-Regular, sans-serif;
    font-size: 1.56vw;
}

 .btn-primary:hover{
     background: #FF9D13;
     cursor:pointer;
}

 .btn-primary:active{
     top:3px;
 }

 .content-header-production{
     width:100vw;
     height: 6.25vw;
     background-color: #FF7E00;
     margin-top: 2.1vw;
 }

 .content-head-label{
     float:left;
     height:  100%;
     margin-left: 5.16vw;
 }

 .labelcenter{
     display:inline-block;
     margin-top: 1.56vw;
     color:#FFFFFF;
     font-size: 3.13vw;
     font-weight: 600;
     position:relative;
 }

 .content-head-link{
     float:right;
     margin-right: 4.48vw;
     height:100%;
 }

 .content-link-a{
     color:#FFFFFF;
     font-size: 1.82vw;
     display: inline-block;
     margin-top:2.215vw;
 }

.content-link-b{
    color:#414141;
    font-size: 1.82vw;
    display: inline-block;
    margin-top:2.215vw;
}

.content-link-b:hover{
    color: #FF7E00;
    text-decoration: none;
}

 .content-link-a:active{
     color: #ffc114;
     text-decoration: none;
 }

.content-link-a:hover{
    color: #ffc114;
    text-decoration: none;
}

.content-body-production{
    width:94vw;
    margin-right: auto;
    margin-left: auto;
    margin-top:2.6vw;
    display: table;
}

.content-table-production{
    width: 50%;
    display:table-cell;
    padding: 0;
    vertical-align:top;
}

.outstandig-produnction{
    display: block;
    width:44.79vw;
    margin-left: auto;
    margin-right: auto;
}

.normal-production{
    width:100%;
    margin-top:1.56vw;
    margin-left: auto;
    margin-right: auto;
    width:44.79vw;
    display:block;
}

.normal-item-left{
    float:left;
    width:21.61vw;
}

.displayText-production{
    width: 100%;
    padding-top:0.68vw;
    text-align: center;
    font-size: 1.56vw;
    font-weight: bold;
    color: #414141;
    letter-spacing: 0.87px;
    background: #FFFFFF;
    border : 1px solid #979797;
   /* border-left: 1px solid #979797;
    border-bottom: 1px solid #979797;*/
    border-radius: 8px;
    position:relative;
    top:-0.52vw;
}

.normal-item-right{
    float:right;
    width:21.61vw;
}

.content-box-location-body{
    width: 100%;
    display:table;
}

.content-box-location-line{
    width:100%;
    display:table-row;
}

.location-text{
    width: 50%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.location-image{
    width:50%;
    display: table-cell;
}

.location-text-head{
    font-size: 2.34vw;
    font-weight: bold;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.location-text-detail{
    font-size: 1.25vw;
    letter-spacing: 0.7px;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 0.94vw;
}

.content-header-display{
    width:100vw;
    height: 21.875vw;
    background-color: #FF7E00;
    display: block;
    border: 1px solid #FF7E00;
}

.display-bar2-header{
    width:17.93vw;
    margin-top: 3.18vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.p-displaybar2-header{
    font-size: 2.34vw;
    font-weight: bold;
    color: white;
    letter-spacing: 1.31px;
}

.display-bar2-content{
    width:34.74vw;
    margin-top: 0.68vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.p-displaybar2-content{
    font-size: 1.25vw;
    color: white;
    letter-spacing: 0.7px;
}

.display-bar2-buttongroup{
    width:74.03vw;
    margin-top: 3.23vw;
    margin-left: auto;
    margin-right: auto;
    display:table;
}

.display-bar2-button{
    display:table-cell;
}

.btn-bar2-primary{
    width:16.56vw;
    height: 4.17vw;
    background: white;
    border-radius: 8px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #FF7E00;
    color:#414141;
    font-family:PingFangSC-Regular, sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    letter-spacing: 0.88px;
}

.btn-bar2-primary:active{
    top:10px;
}

.btn-bar2-primary:hover{
    cursor: pointer;
    background-color: #D2D2D2;
}



.content-box-case{
    width:92vw;
    height:57.29vw;
    margin-top:2.55vw;
    margin-left: auto;
    margin-right: auto;
    background: #F2F0F0;
    border: 1px solid #979797;
    border-radius: 9px;
    display: block;
}

.content-box-case-line{
    width: 100%;
    display: table;
}

.content-box-case-imgbig{
    width: 50%;
    display: table-cell;
}

.content-box-case-imgsmall{
    width: 25%;
    display: table-cell;
}




