
img{
    width: 100%;
}
input:focus{outline: none;}
.container{height: 100vh;}
.t_c{text-align: center;}
.accountBody{
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.leftAccount{
    float: left;
    width: 16.667vw;
    height: 41.667vw;
    background: #E9E2E2;
    border: 1px solid #979797;
    border-radius: 0.417vw;
}

.accountMain{
    margin-left: 1.406vw;
    float: right;
    display: inline-block;
    width: 75.8vw;
    margin-bottom: 10vh;
}

.account-image{
    width: 10.416vw;
    height:10.416vw ;
    margin-left: auto;
    margin-right: auto;
    margin-top:2.656vw;
    overflow: hidden;
}

.name-desc{
    width: 100%;
    text-align: center;
    margin-top: 0.94vw;
}

.name-desc-font{
    font-size: 1.56vw;
    color: #414141;
}

.select-cell {
    background-color: white;
    border-bottom: 1px solid #979797;
    width: 100%;
    height: 4.11vw;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.select-cell-first-child{
    background-color: white;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    width: 100%;
    height: 4.11vw;
    text-align: center;
    vertical-align: middle;
    margin-top: 2.24vw;
    cursor: pointer;
}

.select-cell:hover{
    background-color:#979797;
}

.active-item{
    background-color:#414141;
    color: white;
}

.select-cell-first-child:hover:not(.active-item){
    background-color:#979797;
}

.center-item{
    line-height: 4.11vw;
    font-size: 1.56vw;
    color: #414141;
}

.accountTitle{
    width: 100%;
    height: 4.167vw;
    background-color: #FF7E00;
    border: 1px solid white;
    border-radius: 0.417vw 0.417vw 0 0;
}

.account-box-body{
    width: 99.9%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    min-height: 70vw;
    background-color: white;
    border-top: 1px solid white;
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-bottom-left-radius: 0.417vw;
    border-bottom-right-radius: 0.417vw;
}


.center-big{
    line-height: 4.167vw;
    color: #fff;
    font-weight: normal;
    font-size: 2vw;
}

.margin-left{
    margin-left: 4.375vw;
}

.account-box-line{
    width: 67.71vw;
    margin-left:2.84vw;
}

.account-box-line2{
    width: 67.71vw;
    height:12.97vw ;
    margin-left:2.84vw;
    text-align: center;
}

.account-box-first{
    margin-top: 2.08vw;
    height: 12vw;
}

.account-box-img{
    float: left;
    margin-left:1.33vw;
    margin-top: 0.39vw;
    width: 10.416vw;
    height:10.416vw;
    overflow: hidden;
}

.account-box-content{
    float: left;
    margin-top:0.39vw;
    margin-left: 1.667vw;
}

.font-40px-black{
    font-size: 1.6vw;
    color: #414141;
    font-weight:300;
}

.font-30-black1{
    opacity: 0.6;
    font-size: 1.56vw;
    color: #414141
}


.order-message{background: none;line-height: 2.4vw;border:1px solid #ddd;border-radius: 0.4vw;padding:0 1vw;font-size: 1.2vw;color: #414141;}



.btn-primary{
    width:7vw;
    height:2vw;
    background: #FF7E00;
    border-radius: 0.21vw;
    outline: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #FF7E00;
    color:#FFFFFF;
    font-family:PingFangSC-Regular, sans-serif;
    font-size: 1vw;
}

.btn-primary:hover{
    background-color: #ffc114;
}

.activediv{
    background-color: #414141;
}
.activity-nonmil {
    background-color: white;
}

.account-box-line .table-head div,.account-box-line .table-body div{display: inline-block;text-align: center;}
.account-box-line .sect-one{width: 10vw;}
.account-box-line .sect-two{width: 10vw;}
.account-box-line .sect-three{width: 26vw;}
.account-box-line .sect-four{width: 12vw;}
.account-box-line .sect-five{width: 7vw;}
.table-head{border-bottom:1px solid #979797;padding-bottom: 1vw;margin-top: 2vw;}
.detail-line{border-bottom: 1px solid #979797;}
/*.detail-line .sect-two{color: #0121f2 !important;}*/
.account-box-line .table-body div{font-size: 1.2vw;color: #414141;line-height: 2vw;padding:0.8vw 0}
.pagenation-bar{text-align: center;margin-top: 3vw;}
ul.pagenation{display: inline-block;}
ul.pagenation li{
    float: left;
    padding:0.42vw 0.84vw;
    border: 1px solid #979797;
    border-left: none;
}
ul.pagenation li:first-child{
	border-left: 1px solid #979797;
}
ul.pagenation li a{
    width: 100%;
    font-size: 1.25vw;
    color: #414141;
    text-decoration: none;
}


ul.pagenation li.active{
    background-color: #FF7E00;
}

ul.pagenation li:hover:not(.active){
    background-color:#ffc114;
}

ul.pagenation li.active a{
    color:white;
}
.pagenation-bar span{display:inline-block;line-height: 2vw;padding-left: 2vw;}
.pagenation-bar span input{width: 4vw;height: 2.2vw;display: inline-block;font-size: 1.2vw;text-align: center;}
.pagenation-bar .btn-primary{width: 5vw;height: 2.3vw;margin-left: 1vw;}


.right-back{
	float: right;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 0.5vw 1vw;
	margin: 0.7vw;
	color: #FFFFFF;
	cursor: pointer;
}
.margin-right{
	 margin-right: 3vw;
}
.right-back:hover{
	background: #fff;
	color: #FF7E00;
}

.switchbtn {
    width:auto;
    height:auto;
}

.login-content {
    padding:20px;
}

.word-break {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.login-content .word-break {
    max-height:60vh;
    overflow-y:auto;
}

.detailUnread div{
    color: #0121f2 !important;
}